:root {
  --color-black:  #000000;
  --color-dark:   #2d2d2d;
  --color-gray6:  #393939;
  --color-gray5:  #515151;
  --color-gray4:  #777777;
  --color-gray3:  #b4b7b4;
  --color-gray2:  #cccccc;
  --color-gray1:  #e0e0e0;
  --color-white:  #ffffff;
  --color-red:    #d25252;
  --color-orange: #f9a959;
  --color-yellow: #ffc66d;
  --color-green:  #a5c261;
  --color-lblue:  #bed6ff;
  --color-blue:   #6c99bb;
  --color-purple: #d197d9;
  --color-pink:   #f97394;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/background-img.jpg"); /* The image used */
  background-position: bottom center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto 1200px; /* Resize the background image to cover the entire container */
  background-color: #3a4557;
  color: #fff;
  font-family: var(--font-lato), sans-serif;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #6c99bb;
}

.container {
  margin: 0 auto;
}

.fg-black  { color: var(--color-black); }
.fg-dark   { color: var(--color-dark); }
.fg-gray6  { color: var(--color-gray6); }
.fg-gray5  { color: var(--color-gray5); }
.fg-gray4  { color: var(--color-gray4); }
.fg-gray3  { color: var(--color-gray3); }
.fg-gray2  { color: var(--color-gray2); }
.fg-gray1  { color: var(--color-gray1); }
.fg-white  { color: var(--color-white); }
.fg-red    { color: var(--color-red); }
.fg-orange { color: var(--color-orange); }
.fg-yellow { color: var(--color-yellow); }
.fg-green  { color: var(--color-green); }
.fg-lblue  { color: var(--color-lblue); }
.fg-blue   { color: var(--color-blue); }
.fg-purple { color: var(--color-purple); }
.fg-pink   { color: var(--color-pink); }

.bg-black  { background-color: var(--color-black); }
.bg-dark   { background-color: var(--color-dark); }
.bg-gray6  { background-color: var(--color-gray6); }
.bg-gray5  { background-color: var(--color-gray5); }
.bg-gray4  { background-color: var(--color-gray4); }
.bg-gray3  { background-color: var(--color-gray3); }
.bg-gray2  { background-color: var(--color-gray2); }
.bg-gray1  { background-color: var(--color-gray1); }
.bg-white  { background-color: var(--color-white); }
.bg-red    { background-color: var(--color-red); }
.bg-orange { background-color: var(--color-orange); }
.bg-yellow { background-color: var(--color-yellow); }
.bg-green  { background-color: var(--color-green); }
.bg-lblue  { background-color: var(--color-lblue); }
.bg-blue   { background-color: var(--color-blue); }
.bg-purple { background-color: var(--color-purple); }
.bg-pink   { background-color: var(--color-pink); }
